* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body,
ul,
li,
button,
input,
textarea,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Helvetica, Arial;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  padding: 0;
  border-width: 0;
}